.details__gallery
    img.details__gallery-img(src="img/main-room.jpg", alt="main-room")
    .details__gallery-second
        img.details__gallery-img(src="img/second-room.jpg", alt="second-room")
        img.details__gallery-img(src="img/third-room.jpg", alt="third-room")
.details__content.wrap
    .details__main
        .details__info
            .details__label Сведения о номере
            .details__info-item
                img.details__info-icon(src="img/smile.svg", width='48' alt="smile")                
                .details__info-content
                    .details__inner-label Комфорт
                    .details__text Шумопоглощающие стены
            .details__line
            .details__info-item
                img.details__info-icon(src="img/flat.svg", alt="flat")                
                .details__info-content
                    .details__inner-label Удобство
                    .details__text Окно в каждой из спален
            .details__line
            .details__info-item
                img.details__info-icon(src="img/fire.svg", alt="fire")
                .details__info-content
                    .details__inner-label Уют
                    .details__text Номер оснащён камином
        .details__emotion
            .details__label Впечатления от номера
            .details__emotion-content
                .details__circle
                    img.details__circle-yellow(src="img/circle-yellow.svg", alt="circle-yellow")
                    img.details__circle-violet(src="img/circle-violet.svg", alt="circle-violet")
                    img.details__circle-green(src="img/circle-green.svg", alt="circle-green")
                    .details__circle-center
                        .details__circle-amount 260
                        .details__circle-text голосов
                .details__emotion-list
                    .details__emotion-item.details__emotion-item_orange Великолепно
                    .details__emotion-item.details__emotion-item_green Хорошо
                    .details__emotion-item.details__emotion-item_violet Удовлетворительно
                    .details__emotion-item.details__emotion-item_black Разочарован
        .details__review
            .details__label Отзывы посетителей номера
            .details__review-item
                .details__review-pic
                    .details__review-avatar(style="background-image: url('img/avatar1.png')")                    
                    .details__like.details__like_selected
                        img.details__like-icon(src='img/favorite.svg' width="10" height='8' alt='like')
                        span.details__counter 12                 
                .details__review-content
                    .details__inner-label Мурад Сарафанов
                    .details__text.details__review-date 5 дней назад
                    .details__text Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.
            .details__review-item
                .details__review-pic
                    .details__review-avatar(style="background-image: url('img/avatar2.png')")                    
                    .details__like
                        img.details__like-icon(src='img/favorite_grey.svg' width="10" height='8' alt='like')
                        span.details__counter 2                   
                .details__review-content
                    .details__inner-label Патрисия Стёклышкова
                    .details__text.details__review-date Неделю назад
                    .details__text Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент
        .details__rule
            .details__label Правила
            .details__rule-item Нельзя с питомцами
            .details__rule-item Без вечеринок и мероприятий
            .details__rule-item Время прибытия — после 13:00, а выезд до 12:00
        .details__reset
            .details__label Отмена
            .details__text Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.
    .details__form
        .search__cell-desc
            .search__number
                span.search__number-size № 
                span.search__number-lux 888
            .search__price
                span.search__cell-bold 9900&#x20BD; 
                span.search__cell-text в сутки
        include ../ui_kit/input-date/input-date
        include ../ui_kit/input-guest/input-guest
        .details__form-val
            .details__form-expression 9 990₽ х 4 суток
            .details__val-summary 39 960₽
        .details__form-collection
            .details__collection-text Сбор за услуги: скидка 2 179₽
            .details__collection-icon
                .details__icon-circle
                .details__icon-char i
            .details__collection-summary 0₽
        .details__form-collection
            .details__collection-text Сбор за дополнительные услуги
            .details__collection-icon2
                .details__icon-circle
                .details__icon-char2 i
            .details__collection-summary 300₽
        .details__form-total
            .details__total-text Итого
            .details__total-dots 
            .details__total-amount 38 081₽
        a.button__link(href="search.html")     
            .button-ui(id='button1' type='button')
                span.button-ui__text Забронировать
                img.button-ui__img(src='img/arrow-btn.svg')