.details__gallery {
    max-width: 1440px;
    display: grid;
    grid-template-areas:    'main-img secondary-img';
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    width: 100%;          
}

@media (max-width: 545px) {
    .details__gallery {
        max-width: 1440px;
        display: grid;
        grid-template-areas:    'main-img'
                                'secondary-img';
        grid-template-columns: 1fr;
        grid-template-rows: 1.8fr 1fr;
        width: 100%;          
    }
}

.details__gallery-main {
    grid-area: main-img;
    width: 100%;
    height: 100%;
}

.details__gallery-secondary {
    grid-area: secondary-img;
    // display: flex;
    width:  100%;
}

.details__gallery-second {
    display: block;
    width: 100%;
}

.details__gallery-third {
    width: 100%;
    display: block;
}

@media (max-width: 545px) {
    .details__gallery-main {
        height: auto;
    }
    .details__gallery-secondary {
        display: flex;
    }
    .details__gallery-second, .details__gallery-third {
        width: 50%;
        height: auto;
    }
}

.details__content {
    display: grid;
    grid-template-areas: 'main form';
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 70px;
    padding-top: 70px;
    padding-bottom: 70px;
}

@media (max-width: 1256px) {
    .details__content {
        grid-template-areas:    'main'
                                'form';
        grid-gap: 40px;
        grid-template-columns: 1fr;
        margin: 0 auto;
    }
}

.details__main {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 1fr;    
    grid-template-areas: 'info emotion'
                        'review review'
                        'rule reset';
    grid-gap: 30px 70px;
}

@media (max-width: 664px) {
    .details__main {
        grid-template-columns: 1fr;    
        grid-template-areas:    'info'
                                'emotion'
                                'review'
                                'rule'
                                'reset';
        grid-gap: 30px 70px;
        justify-items: center;
    }
}

.details__info {
    grid-area: info;    
}

.details__emotion {
    grid-area: emotion;    
}

.details__review {
    grid-area: review;    
}

.details__rule{
    grid-area: rule;       
}

@media (max-width: 664px) {
    .details__rule {
        justify-self: start;
    }
}

.details__reset {
    grid-area: reset;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
}

.details__form {
    grid-area: form;
    height: 511px;
    padding: 40px 30px 30px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.3);
    border-radius: 4px;    
}

@media (max-width: 1256px) {    
    .details__form {
        width: 380px;
        margin: 0 auto;
    }
}

@media (max-width: 420px) {    
    .details__form {
        width: 100%;
        padding: 10px;
        margin: 0 auto;
        height: auto;
    }
}

@media (max-width: 350px) {
    .details__form {
        padding: 10px 20px;
        border: none;
    }
}

.details__label-container {
    display: flex;
    justify-content: space-between
}

@media (max-width: 420px) {
    .details__label-container {
        flex-direction: column;
    }
}

.details__label {
    margin-bottom: 20px;
    font-size: 19px;
    font-weight: bold;
    color: #1F2041;    
}

.details__label-desc {
    font-size: 14px;
    color: rgba(31, 32, 65, 0.5);
}

.details__rule-item {
    margin-top: 10px;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
    &::before {
        content: url("components/details/img/grey-circle.svg");
        padding-right: 10px;
    }
}

.details__info-item {
    display: flex;
}

.details__info-icon {
    margin-right: 10px;
}

.details__info-content {
    width: 230px;
}

@media (max-width: 420px) {
    .details__info-content {
        width: auto;
    }
}

.details__inner-label {
    margin-top: 5px;
    font-weight: bold;
    font-size: 14px;
    color: rgba(31, 32, 65, 0.75);
}

.details__text {
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
}

@media (max-width: 420px) {
    .details__text {
        font-size: 12px;
    }
}


.details__line {
    margin: 20px 0;
    width: 100%;
    height: 2px;
    background:rgba(31, 32, 65, 0.2);
}

.details__review-item {
    display: grid;
    grid-template-areas: 'pic content';
    grid-column-gap: 10px;
    justify-content: space-between;
    margin-top: 20px;
}

.details__review-pic {
    grid-area: pic;   
}

.details__review-avatar {
    margin: 0 auto 12px;    
    width: 44px;
    height: 44px;
    border-radius: 50px;
    background-position-x: 49%;
    background-position-y: 28%;
    border: 2px solid #FFFFFF;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.1);
}

.details__like {
    width: 40px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(31, 32, 65, 0.25);;
    margin: 0 auto;
    border-radius: 10px;
    font-size: 10px;
    color: rgba(31, 32, 65, 0.25);    
}

.details__like_selected {
    border: solid 1px transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient( to bottom, #BB9CFF, #8DA4FA);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px #fff inset;
    color: #BC9CFF;
}

.details__counter {
    margin-left: 3px;
}



.details__review-content {
    grid-area: content;
}

.details__review-date {
    margin-bottom: 10px;
}

.details__emotion-content {
    display: flex;
    justify-content: space-between;    
}

@media (max-width: 1340px) {
    .details__emotion-content {
        flex-direction: column;
        align-items: center;
    }
}

.details__circle {
    position: relative;      
    display: grid;
    grid-gap: 2px;
    grid-template-columns: 59px 59px;
    grid-template-areas: 'yellow violet'
                        'yellow green';
}

.details__circle-yellow {
    grid-area: yellow;
    display: block;
}

.details__circle-violet {
    grid-area: violet;
    display: block;
}

.details__circle-green {
    grid-area: green;
    display: block;
}

.details__circle-center {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.details__circle-amount {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #BC9CFF;
}

.details__circle-text {
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    color: #BC9CFF;
}

.details__emotion-list {
    align-self: flex-end;
}

@media (max-width: 1340px) {
    .details__emotion-list {
        align-self: center;
        margin-top: 20px;
    }
}

.details__emotion-item {
    margin-top: 5px;
    font-size: 14px;
    color: rgba(31, 32, 65, 0.75);
}

.details__emotion-item_orange::before {
    content: url('components/details/img/bullet-orange.svg');
    padding-right: 5px;
}   

.details__emotion-item_green::before {
    content: url('components/details/img/bullet-green.svg');
    padding-right: 5px;   
}

.details__emotion-item_violet::before {
    content: url('components/details/img/bullet-violet.svg');
    padding-right: 5px;    
}

.details__emotion-item_black::before {
    content: url('components/details/img/bullet-black.svg');
    padding-right: 5px;   
}

.details__form-val {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: rgba(31, 32, 65, 0.75);
}

.details__form-collection {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: rgba(31, 32, 65, 0.75);
}

.details__collection-text {
    width: 214px;
}

@media (max-width: 420px) {
    .details__collection-text {
        width: auto;
    } 
}

.details__collection-icon {
    position: relative;
}

.details__collection-icon2 {
    position: relative;
}

.details__icon-circle {
    width: 20px;
    height: 20px;
    border: 1px solid rgba(31, 32, 65, 0.25);;
    border-radius: 50%;
}

.details__icon-char {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.details__icon-char2 {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.details__collection-summary {
    width: 37px;
    text-align: right;
}

.details__form-total {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.details__total-text {
    font-size: 19px;
    font-weight: bold;
    color: #1F2041;
}

.details__total-dots {
    position: relative;
    top: -5px;
    width: 182px;
    height: 1px;
    border-top: 1px dotted rgba(31, 32, 65, 0.25);    
}

@media (max-width: 350px) {
    .details__total-dots {
        width: 100%;
    }
}

.details__total-amount {
    white-space: nowrap;
    width: 68px;
    font-size: 19px;
    font-weight: bold;
    color: #1F2041;
}