footer
    .footer__inner
        .footer.wrap
            .footer__desc
                include ../logo/logo
                .footer__text Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
            .footer__nav
                h4.footer__heading Навигация
                nav.footer__list
                    a.footer__item(href="#") О нас
                    a.footer__item(href="#") Новости
                    a.footer__item(href="#") Служба поддержки
                    a.footer__item(href="#") Услуги
            .footer__about
                h4.footer__heading О нас
                nav.footer__list
                    a.footer__item(href="#") О сервисе
                    a.footer__item(href="#") Наша команда
                    a.footer__item(href="#") Вакансии
                    a.footer__item(href="#") Инвесторы
            .footer__services
                h4.footer__heading Служба поддержки
                nav.footer__list
                    a.footer__item(href="#") Соглашения
                    a.footer__item(href="#") Сообщества
                    a.footer__item(href="#") Связь с нами
            .footer__sign-mail
                h4.footer__heading Подписка
                .footer__text Получайте специальные предложения и новости сервиса
                .footer__input
                    input.footer__input-mail(type='email' placeholder="Email")
                    button.footer__submit(type='submit')
                        img.footer__submit-arrow(src='img/arrow-mail-button.svg')
    .footer__inner-bottom
        .footer__bottom.wrap   
            .footer__copy.footer__text Copyright © 2018 Toxin отель. Все права зачищены.
            .footer__social-icon
                img.footer__icon-item(src="img/icon-twitter.svg", alt="social-icon")
                img.footer__icon-item(src="img/icon-facebook.svg", alt="social-icon")
                img.footer__icon-item(src="img/icon-insta.svg", alt="social-icon")