.footer {
        display: grid;
        grid-template-areas: "desc navig about services sign-mail";
        grid-template-columns: 300px 1fr 1fr 1fr 260px;
        grid-template-rows: 168px;              
        padding-top: 100px;
        padding-bottom: 100px;    
    }

@media (max-width: 1280px) {
    .footer {
        grid-template-areas:    "navig about services sign-mail"
                                "desc desc desc desc";
        grid-template-columns: 1fr 1fr 1fr 260px;
        grid-template-rows: 168px 144px;
        padding-top: 50px;
        padding-bottom: 50px;
        grid-gap: 20px;
    }
}

@media (max-width: 1024px) {
    .footer {
        grid-template-areas:    "navig about"
                                "services sign-mail"
                                "desc desc";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 140px 140px 144px;
        padding-top: 50px;
        padding-bottom: 50px;
        grid-gap: 10px;
    }
}

@media (max-width: 620px) {
    .footer {   
        grid-template-columns: 1fr 1fr; 
    }
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
}

.footer__inner {
    box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.3);
}

.footer__inner-bottom {
    box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1);
}

.footer__desc {
    grid-area: desc;
    margin-right: 40px;
}

@media (max-width: 1280px) {
    .footer__desc {        
        margin: 0 auto;
        width: 560px;
        text-align: center;
    }

    .footer__desc .logo {
        justify-content: center;
    }
}

@media (max-width: 640px) {
    .footer__desc {
        width: 280px;
    }    
}

.footer__nav {
    grid-area: navig;
}

@media (max-width: 1024px) {
    .footer__nav {
        justify-self: center;
    }
}

.footer__about {
    grid-area: about;
    padding-bottom: 100px;
}

.footer__services {
    grid-area: services;
}

@media (max-width: 1024px) {
    .footer__services {
        justify-self: center;
    }
}

.footer__sign-mail {
    grid-area: sign-mail;
    width: 260px;
}

@media (max-width: 545px) {
    .footer {
        display: block;
        padding-bottom: 25px;
    }
    .footer__nav, .footer__about, .footer__services, .footer__sign-mail, .footer__copy {
        display: none;
    }
    .footer__inner {
        box-shadow: none;
    }

    .footer__bottom {
        display: block;
    }

    .footer__social-icon {       
        text-align: center;
    }
}

@media (max-width: 420px) {
    .footer {
        padding: 10px 20px;
    }
}

.footer__text {
    font-size: 14px;
    margin-top: 20px;
    color: rgba(31, 32, 65, 0.75);
    line-height: 24px; 
}

@media (max-width: 1024px) {
    .footer__text {       
        margin-top: 10px;         
    }
}

.footer__copy {
    grid-area: copy;
    margin: 0;
    padding: 26px 0;
}

.footer__social-icon {    
    justify-self: end;
    padding-top: 20px;
}

@media (max-width: 545px) {
    .footer__social-icon {    
        padding-bottom: 15px;
    }
}

.footer__heading {
    margin: 0;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
}

.footer__list {
    display: flex;
    flex-direction: column;
}

.footer__item {
    margin-top: 20px;
}

@media (max-width: 1024px) {
    .footer__item {
        margin-top: 10px;
    }
}

.footer__input {
    position: relative;
    margin-top: 20px;    
}

@media (max-width: 1024px) {
    .footer__input {        
        margin-top: 10px;    
    }
    
}

.footer__input-mail {
    width: 100%;
    height: 44px;   
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    line-height: 44px;
    &:placeholder-shown {            
        padding-left: 10px;
        color: rgba(31, 32, 65, 0.25);
        font-size: 14px;
    }
}

.footer__submit {
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;

    background-color: transparent;
    border: none;
}

.footer__icon-item {
    margin-left: 20px;
}