section.landing
    .landing__bg(style="background-image: url('img/image_3.jpg')")
    .landing__content.wrap
        form.landing__form
            h2.landing__form-title Найдём номера под ваши пожелания
            include ../ui_kit/input-date
            include ../ui_kit/input-guest
            include  ../ui_kit/ui_button
        .landing__text Лучшие номера для вашей работы, отдыха и просто вдохновения