section.landing
    .landing__bg(style="background-image: url('img/image_3.jpg')")
    .landing__content.wrap
        form.landing__form
            h2.landing__form-title Найдём номера под ваши пожелания
            include ../ui_kit/input-date/input-date
            include ../ui_kit/input-guest/input-guest
            a.button__link(href="search.html")     
                .button-ui(id='button1' type='button')
                    span.button-ui__text Подобрать номер
                    img.button-ui__img(src='img/arrow-btn.svg')
        .landing__text Лучшие номера для вашей работы, отдыха и просто вдохновения