.ui-kit__inner {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.ui-kit__label {
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.input__inner {
    display: flex;
    flex-direction: column;       
}

.input__form {
    position: relative;
}

.input__submit {
    position: absolute;
    top: 10px;
    right: 15px;
    bottom: 0;

    background-color: transparent;
    border: none;
}

.input__date {
    width: 150px;
    height: 44px;
    border: 1px solid rgba(31, 32, 65, 0.25);

    &::placeholder {
        padding: 10px;
        font-size: 14px;
        color: rgba(31, 32, 65, 0.75);
    }
}

.guest {
    position: relative;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.input-guest {
    height: 44px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    &::placeholder {
        padding: 10px;
        font-size: 14px;
        color: rgba(31, 32, 65, 0.75);
    }    
}

.input__guest-arrow {
    position: absolute;
    top: 30px;
    right: 15px;
    
}

.ui__button-wrap {
    margin-top: 20px;
    
}

.ui__button {
    width: 100%;
    background-color: transparent;
    // appearance: none;    
    border: solid 2px transparent;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 22px;
    height: 44px;
    background-origin: border-box;

    color: #fff;
    text-transform: uppercase;
    font-size: 12px;

    position: relative;
}

.ui__button-img {
    position: absolute;
    right: 20px;
    z-index: 2;
}

.ui-datepicker {
    width: 320px;
    height: 370px;
}

