.ui-kit__inner {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.ui-kit__label {
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.input__inner {
    display: flex;
    flex-direction: column;       
}

.input__form {
    position: relative;
}

.input__submit {
    position: absolute;
    top: 10px;
    right: 15px;
    bottom: 0;

    background-color: transparent;
    border: none;
}

.input__date {
    width: 150px;
    height: 44px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
}

.input__date::placeholder {
    text-transform: uppercase;    
    font-size: 14px;
    color: rgba(31, 32, 65, 0.75);
}

.guest {
    position: relative;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.input__date[readonly], .search__input-date[readonly], .search__input-dropdown[readonly]  {
    text-transform: lowercase;
    padding-left: 10px;
    font-size: 14px;
    color: rgba(31, 32, 65, 0.75);
}

.input-guest[readonly], .search__input-guest[readonly] {    
    padding-left: 10px;
    font-size: 14px;
    color: rgba(31, 32, 65, 0.75);
}
.input-guest {
    height: 44px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    &::placeholder {        
        padding: 10px;
        font-size: 14px;
        color: rgba(31, 32, 65, 0.75);
    }    
}

.input__guest-arrow {
    position: absolute;
    top: 30px;
    right: 15px;
    
}

.ui__button-wrap {
    margin-top: 20px;
    
}

.ui__button {
    width: 100%;
    background-color: transparent;      
    border: solid 2px transparent;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 22px;
    height: 44px;
    background-origin: border-box;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;

    position: relative;
}

.ui__button a {
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
}

.ui__button-img {
    position: absolute;
    top: 10px;
    right: 20px;
    z-index: 1;
}

.flatpickr-calendar {
    width: 320px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    border-radius: 4px; 
}

.flatpickr-months {
    font-family: "Monserrat", sans-serif;
    
    font-weight: bold;
    padding: 20px 0 0;
}

.flatpickr-current-month span.cur-month {
    font-weight: bold;
    font-size: 19px;
}

.flatpickr-current-month input.cur-year {
    font-weight: bold;
}

.flatpickr-months .flatpickr-month {
    height: 35px;
}

.flatpickr-innerContainer {
    padding: 20px;
}

.flatpickr-rContainer {
    width: 275px;
}

span.flatpickr-weekday {
    font-size: 12px;
    color: #BC9CFF;
    font-weight: bold;    
}

.dayContainer {
    -webkit-justify-content: normal;
    justify-content: normal;  
}

.today {
    color: #ffffff;
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    border-radius: 22px;
    border: none;
}

.flatpickr-day.selected.startRange, .flatpickr-day.startRange.startRange, .flatpickr-day.selected.startRange, .flatpickr-day.startRange.startRange {
    border: none;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 22px;

    &::after {
        content: "";
        background: linear-gradient(180deg, rgba(187,156,255, 0.25), rgba(141,164,250, 0.25) 100%);
        position: absolute;
        right: 0;
        width: 25px;
        height: 39px;
        border: none;
        z-index: -1;
    }
}

.flatpickr-day.selected.endRange, .flatpickr-day.startRange.endRange, .flatpickr-day.endRange.endRange {
    border: none;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 22px;
    
    &::after {
        content: "";
        background: linear-gradient(180deg, rgba(187,156,255, 0.25), rgba(141,164,250, 0.25) 100%);
        position: absolute;
        left: 0;
        width: 25px;
        height: 39px;
        border: none;
        z-index: -1;
    }
}

.flatpickr-day.selected.startRange.endRange, .flatpickr-day.startRange.startRange.endRange, .flatpickr-day.endRange.startRange.endRange {
    &::after {
        content: none;        
    }
}

.flatpickr-day.inRange {
    background: linear-gradient(180deg, rgba(187,156,255, 0.25), rgba(141,164,250, 0.25) 100%);
    border: none;
    box-shadow: none;  
}

.flatpickr-day.selected.startRange + .endRange:not(:nth-child(7n+1)), .flatpickr-day.startRange.startRange + .endRange:not(:nth-child(7n+1)), .flatpickr-day.endRange.startRange + .endRange:not(:nth-child(7n+1)) {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.flatpickr-months .flatpickr-prev-month.flatpickr-prev-month {
    top: 15px;
    left: 15px;
}

.flatpickr-months .flatpickr-next-month.flatpickr-next-month {
    top: 15px;
    right: 15px;
}

.container-date-buttons {
    padding: 0 20px 20px;
    display: flex;
    justify-content: space-between;

    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

.clearCalendar {
    color: rgba(31, 32, 65, 0.5);
}


.use-select {
    color: #BC9CFF;
}

.flatpickr-calendar.arrowTop:before, .flatpickr-calendar.arrowTop:after {
    bottom: 0;
}

// Фильтр Гости

.dropdown {
    display: none;
    width: 100%;
    background: #ffffff;
    position: absolute;
    border: 1px solid gba(31, 32, 65, 0.5);
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    top: 100%;
    z-index: 10;
}

.search__container-dropdown {
    width: 100%;
    background: #ffffff;
    position: absolute;
    border: 1px solid gba(31, 32, 65, 0.5);
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    top: 100%;
    z-index: 10;
}

.blockAdults, .blockChildren, .blockBaby, .search__dropdown-item {
    margin: 20px 0;
    padding: 0 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.counterContainer, .search__dropdown-counter {
    display: flex;
}

.textAdults, .textChildren, .textBaby, .search__dropdown-text {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color:#1F2041;
} 

.counterNumber, .search__counter-text {
    padding: 5px 10px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.btnPlus, .btnMinus, .search__btn-minus, .search__btn-plus {
    background: transparent;
    border-radius: 50%;
    border: 1px solid rgba(31, 32, 65, 0.5);
    color: rgba(31, 32, 65, 0.5);
    font-size: 18px;
    padding: 0 7px;
    text-align: center;
}

