.sign__in
    .sign__bg(style="background-image: url('img/sign.jpg')")
    form.sign-in__form
        h2.sign__form-title Войти
        input.sign__input(placeholder='Email')
        input.sign__input(placeholder='Пароль')        
        a.button__link(href="search.html")     
            .button-ui(id='button1' type='button')
                span.button-ui__text Войти
                img.button-ui__img(src='img/arrow-btn.svg')
        .sign__invite
            .sign__invite-question Нет аккаунта на Toxin?
            a(href='sign_up.html')
                button.sign__button-link.button-in(type="button") Создать