.footer {
    display: grid;
    grid-template-areas: "desc navig about services sign-mail"
                        "line line line line line"
                        "copy copy . . social-icon";
    grid-template-columns: 300px 1fr 1fr 1fr 260px;
    grid-template-rows: 1fr 1px 70px;             
    padding-top: 100px;
}

.footer__desc {
    grid-area: desc;
    margin-right: 40px;
}

.footer__nav {
    grid-area: navig;
}

.footer__about {
    grid-area: about;
    padding-bottom: 100px;
}

.footer__services {
    grid-area: services;
}

.footer__sign-mail {
    grid-area: sign-mail;
}

.footer__line {
    grid-area: line;
    border: 0.5px solid rgba(31, 32, 65, 0.25);
    width: 100%;
}

.footer__text {
    font-size: 14px;
    margin-top: 20px;
    color: rgba(31, 32, 65, 0.75);
    line-height: 24px; 
}

.footer__copy {
    grid-area: copy;
    margin: 0;
    padding: 26px 0;
}

.footer__social-icon {
    grid-area: social-icon;
    justify-self: end;
    padding-top: 20px;
}



.footer__heading {
    margin: 0;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
}

.footer__list {
    display: flex;
    flex-direction: column;
}

.footer__item {
    margin-top: 20px;
}

.footer__input {
    position: relative;
    margin-top: 20px;    
}

.footer__input-mail {
    width: 100%;
    height: 44px;    
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;

    &::placeholder {
        padding: 0 15px;
        color: rgba(31, 32, 65, 0.25);
        font-size: 14px;
    }
}

.footer__submit {
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;

    background-color: transparent;
    border: none;
}

.footer__icon-item {
    margin-left: 20px;
}