.header {
    min-height: 70px;    
    display: grid;
    grid-template-columns: 1fr 4fr 87px 1fr;    
    grid-template-areas: "logo navigation login sign";
    grid-gap: 0 20px;
    align-items: center; 
}

@media (max-width: 1110px) {
    .header {
        grid-template-areas:    "logo login sign"
                                "navigation navigation navigation";
        grid-template-columns: 1fr 87px 163px;
        
        grid-gap: 10px 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
}

@media (max-width: 545px) {
    .header {        
        grid-template-areas:    "logo logo"
                                "navigation navigation"
                                "login sign";
        grid-template-columns: 1fr 1fr;
        
        
        grid-gap: 10px 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
}

.header-nav {
    grid-area: navigation;
    justify-self: end;
}

@media (max-width: 545px) {
    .header-nav {
        grid-area: navigation;
        justify-self: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;        
    }  
}

.header__login {
    grid-area: login;
    justify-self: end;    
}

@media (max-width: 545px) {
    .header__login {
        grid-area: login;
        justify-self: start;    
    }
}

.header__sign {
    grid-area: sign;
}

@media (max-width: 545px) {
    .header__sign {
        grid-area: sign;
        justify-self: end;
    }
}

.header-nav__link {      
    margin-right: 20px;
        &:last-child {
            margin: 0;
        }
        &_dropdown::after {    
        content: url('components/ui_kit/header/img/arrow-down.svg');
        margin-left: 5px;        
        }
}

