* {
  box-sizing: border-box; }

@font-face {
  font-family: "Montserrat";
  src: url("/utils/Montserrat-Regular.woff") format("woff"); }

body {
  max-width: 1440px;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif; }

.wrap {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto; }

a {
  text-decoration: none;
  color: rgba(31, 32, 65, 0.5); }

.header {
  min-height: 70px;
  display: grid;
  grid-template-columns: 1fr 4fr 87px 1fr;
  grid-template-areas: "logo navigation login sign";
  grid-gap: 0 20px;
  align-items: center; }

.header-nav {
  grid-area: navigation;
  justify-self: end; }

.header__login {
  grid-area: login;
  justify-self: end;
  width: 87px;
  padding: 8px 18px;
  border-radius: 22px;
  border: solid 2px transparent;
  color: #BC9CFF;
  text-transform: uppercase;
  font-size: 12px;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(to bottom, #BB9CFF, #8DA4FA);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #fff inset; }
  .header__login:hover {
    box-shadow: none;
    color: white; }

.header__sign {
  grid-area: sign;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  width: 196px;
  padding: 8px 18px;
  border-radius: 22px;
  border: solid 2px transparent;
  background-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  background-origin: border-box; }

.header-nav__link {
  margin-right: 20px; }
  .header-nav__link:last-child {
    margin: 0; }
  .header-nav__link_dropdown::after {
    content: url(img/arrow-down.svg);
    margin-left: 5px; }

.logo {
  grid-area: logo;
  justify-self: start;
  display: flex;
  align-items: center; }

.logo__name {
  margin-left: 12.5px; }

.ui-kit__inner {
  display: flex;
  justify-content: space-between;
  margin-top: 20px; }

.ui-kit__label {
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 5px; }

.input__inner {
  display: flex;
  flex-direction: column; }

.input__form {
  position: relative; }

.input__submit {
  position: absolute;
  top: 10px;
  right: 15px;
  bottom: 0;
  background-color: transparent;
  border: none; }

.input__date {
  width: 150px;
  height: 44px;
  border: 1px solid rgba(31, 32, 65, 0.25); }
  .input__date::placeholder {
    padding: 10px;
    font-size: 14px;
    color: rgba(31, 32, 65, 0.75); }

.guest {
  position: relative;
  margin-top: 20px;
  display: flex;
  flex-direction: column; }

.input-guest {
  height: 44px;
  border: 1px solid rgba(31, 32, 65, 0.25); }
  .input-guest::placeholder {
    padding: 10px;
    font-size: 14px;
    color: rgba(31, 32, 65, 0.75); }

.input__guest-arrow {
  position: absolute;
  top: 30px;
  right: 15px; }

.ui__button-wrap {
  margin-top: 20px; }

.ui__button {
  width: 100%;
  background-color: transparent;
  border: solid 2px transparent;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 22px;
  height: 44px;
  background-origin: border-box;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  position: relative; }

.ui__button-img {
  position: absolute;
  right: 20px;
  z-index: 2; }

.ui-datepicker {
  width: 320px;
  height: 370px; }

.landing {
  position: relative;
  height: 830px; }

.landing__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1; }

.landing__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%; }

.landing__form {
  margin-top: 70px;
  width: 380px;
  height: 374px;
  padding: 40px 30px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px; }

.landing__form-title {
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  margin: 0; }

.landing__text {
  justify-self: end;
  align-self: end;
  width: 300px;
  margin-bottom: 20px;
  font-size: 14px;
  text-align: right;
  color: rgba(31, 32, 65, 0.75);
  line-height: 24px; }

.footer {
  display: grid;
  grid-template-areas: "desc navig about services sign-mail" "line line line line line" "copy copy . . social-icon";
  grid-template-columns: 300px 1fr 1fr 1fr 260px;
  grid-template-rows: 1fr 1px 70px;
  padding-top: 100px; }

.footer__desc {
  grid-area: desc;
  margin-right: 40px; }

.footer__nav {
  grid-area: navig; }

.footer__about {
  grid-area: about;
  padding-bottom: 100px; }

.footer__services {
  grid-area: services; }

.footer__sign-mail {
  grid-area: sign-mail; }

.footer__line {
  grid-area: line;
  border: 0.5px solid rgba(31, 32, 65, 0.25);
  width: 100%; }

.footer__text {
  font-size: 14px;
  margin-top: 20px;
  color: rgba(31, 32, 65, 0.75);
  line-height: 24px; }

.footer__copy {
  grid-area: copy;
  margin: 0;
  padding: 26px 0; }

.footer__social-icon {
  grid-area: social-icon;
  justify-self: end;
  padding-top: 20px; }

.footer__heading {
  margin: 0;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold; }

.footer__list {
  display: flex;
  flex-direction: column; }

.footer__item {
  margin-top: 20px; }

.footer__input {
  position: relative;
  margin-top: 20px; }

.footer__input-mail {
  width: 100%;
  height: 44px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px; }
  .footer__input-mail::placeholder {
    padding: 0 15px;
    color: rgba(31, 32, 65, 0.25);
    font-size: 14px; }

.footer__submit {
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
  background-color: transparent;
  border: none; }

.footer__icon-item {
  margin-left: 20px; }

.sign__bg {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 753px; }

.sign-in__form {
  margin-top: 70px;
  width: 380px;
  height: 358px;
  padding: 40px 30px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px; }

.sign__form-title {
  margin: 0; }

.sign__input {
  margin-top: 20px;
  width: 100%;
  height: 44px;
  border: 1px solid rgba(31, 32, 65, 0.25); }
  .sign__input::placeholder {
    padding: 10px;
    font-size: 14px;
    color: rgba(31, 32, 65, 0.75); }

.sign__invite {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px; }

.sign__invite-question {
  font-size: 14px; }

.sign__button-link {
  padding: 8px 18px;
  border-radius: 22px;
  border: solid 2px transparent;
  color: #BC9CFF;
  text-transform: uppercase;
  font-size: 12px;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(to bottom, #BB9CFF, #8DA4FA);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #fff inset; }
  .sign__button-link:hover {
    box-shadow: none;
    color: white; }
