@charset "UTF-8";
* {
  box-sizing: border-box; }

@font-face {
  font-family: "Montserrat", sans-serif;
  src: url("/fonts/Montserrat-Regular.woff") format("woff"); }

@font-face {
  font-family: "Montserrat", sans-serif;
  src: url("/fonts/Montserrat-Bold.woff") format("woff");
  font-weight: bold; }

body {
  max-width: 1440px;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif; }

.wrap {
  padding: 0 140px; }

@media (max-width: 1280px) {
  .wrap {
    padding: 0 120px; } }

@media (max-width: 1024px) {
  .wrap {
    padding: 0 80px; } }

@media (max-width: 768px) {
  .wrap {
    padding: 0 40px; } }

@media (max-width: 545px) {
  .wrap {
    padding: 0 20px; } }

a {
  text-decoration: none;
  color: rgba(31, 32, 65, 0.5); }

.header {
  min-height: 70px;
  display: grid;
  grid-template-columns: 1fr 4fr 87px 1fr;
  grid-template-areas: "logo navigation login sign";
  grid-gap: 0 20px;
  align-items: center; }

@media (max-width: 1110px) {
  .header {
    grid-template-areas: "logo login sign" "navigation navigation navigation";
    grid-template-columns: 1fr 87px 163px;
    grid-gap: 10px 20px;
    padding-top: 10px;
    padding-bottom: 10px; } }

@media (max-width: 545px) {
  .header {
    grid-template-areas: "logo logo" "navigation navigation" "login sign";
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px 20px;
    padding-top: 10px;
    padding-bottom: 10px; } }

.header-nav {
  grid-area: navigation;
  justify-self: end; }

@media (max-width: 545px) {
  .header-nav {
    grid-area: navigation;
    justify-self: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; } }

.header__login {
  grid-area: login;
  justify-self: end; }

@media (max-width: 545px) {
  .header__login {
    grid-area: login;
    justify-self: start; } }

.header__sign {
  grid-area: sign; }

@media (max-width: 545px) {
  .header__sign {
    grid-area: sign;
    justify-self: end; } }

.header-nav__link {
  margin-right: 20px; }
  .header-nav__link:last-child {
    margin: 0; }
  .header-nav__link_dropdown::after {
    content: url(img/arrow-down.svg);
    margin-left: 5px; }

.footer {
  display: grid;
  grid-template-areas: "desc navig about services sign-mail";
  grid-template-columns: 300px 1fr 1fr 1fr 260px;
  grid-template-rows: 168px;
  padding-top: 100px;
  padding-bottom: 100px; }

@media (max-width: 1280px) {
  .footer {
    grid-template-areas: "navig about services sign-mail" "desc desc desc desc";
    grid-template-columns: 1fr 1fr 1fr 260px;
    grid-template-rows: 168px 144px;
    padding-top: 50px;
    padding-bottom: 50px;
    grid-gap: 20px; } }

@media (max-width: 1024px) {
  .footer {
    grid-template-areas: "navig about" "services sign-mail" "desc desc";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 140px 140px 144px;
    padding-top: 50px;
    padding-bottom: 50px;
    grid-gap: 10px; } }

@media (max-width: 620px) {
  .footer {
    grid-template-columns: 1fr 1fr; } }

.footer__bottom {
  display: flex;
  justify-content: space-between; }

.footer__inner {
  box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.3); }

.footer__inner-bottom {
  box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1); }

.footer__desc {
  grid-area: desc;
  margin-right: 40px; }

@media (max-width: 1280px) {
  .footer__desc {
    margin: 0 auto;
    width: 560px;
    text-align: center; }
  .footer__desc .logo {
    justify-content: center; } }

@media (max-width: 640px) {
  .footer__desc {
    width: 280px; } }

.footer__nav {
  grid-area: navig; }

@media (max-width: 1024px) {
  .footer__nav {
    justify-self: center; } }

.footer__about {
  grid-area: about;
  padding-bottom: 100px; }

.footer__services {
  grid-area: services; }

@media (max-width: 1024px) {
  .footer__services {
    justify-self: center; } }

.footer__sign-mail {
  grid-area: sign-mail;
  width: 260px; }

@media (max-width: 545px) {
  .footer {
    display: block;
    padding-bottom: 25px; }
  .footer__nav, .footer__about, .footer__services, .footer__sign-mail, .footer__copy {
    display: none; }
  .footer__inner {
    box-shadow: none; }
  .footer__bottom {
    display: block; }
  .footer__social-icon {
    text-align: center; } }

@media (max-width: 420px) {
  .footer {
    padding: 10px 20px; } }

.footer__text {
  font-size: 14px;
  margin-top: 20px;
  color: rgba(31, 32, 65, 0.75);
  line-height: 24px; }

@media (max-width: 1024px) {
  .footer__text {
    margin-top: 10px; } }

.footer__copy {
  grid-area: copy;
  margin: 0;
  padding: 26px 0; }

.footer__social-icon {
  justify-self: end;
  padding-top: 20px; }

@media (max-width: 545px) {
  .footer__social-icon {
    padding-bottom: 15px; } }

.footer__heading {
  margin: 0;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold; }

.footer__list {
  display: flex;
  flex-direction: column; }

.footer__item {
  margin-top: 20px; }

@media (max-width: 1024px) {
  .footer__item {
    margin-top: 10px; } }

.footer__input {
  position: relative;
  margin-top: 20px; }

@media (max-width: 1024px) {
  .footer__input {
    margin-top: 10px; } }

.footer__input-mail {
  width: 100%;
  height: 44px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  line-height: 44px; }
  .footer__input-mail:placeholder-shown {
    padding-left: 10px;
    color: rgba(31, 32, 65, 0.25);
    font-size: 14px; }

.footer__submit {
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
  background-color: transparent;
  border: none; }

.footer__icon-item {
  margin-left: 20px; }

.logo {
  grid-area: logo;
  justify-self: start;
  display: flex;
  align-items: center; }

@media (max-width: 545px) {
  .logo {
    grid-area: logo;
    justify-self: center;
    display: flex;
    align-items: center; } }

.logo__name {
  margin-left: 12.5px; }

.button-in {
  padding: 8px 18px;
  border-radius: 22px;
  border: solid 2px transparent;
  color: #BC9CFF;
  text-transform: uppercase;
  font-size: 12px;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(to bottom, #BB9CFF, #8DA4FA);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #fff inset; }
  .button-in:hover {
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(to bottom, rgba(187, 156, 255, 0.5), rgba(141, 164, 250, 0.5)); }

.button-up {
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  padding: 8px 18px;
  border-radius: 22px;
  border: solid 2px transparent;
  background-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  background-origin: border-box; }
  .button-up:hover {
    background-image: linear-gradient(180deg, rgba(187, 156, 255, 0.5), rgba(141, 164, 250, 0.5) 100%); }

.button__link {
  margin-top: 20px;
  display: block; }

.button-ui {
  width: 100%;
  height: 44px;
  border: solid 2px transparent;
  border-radius: 22px;
  background-color: transparent;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  background-origin: border-box;
  position: relative; }

.button-ui__text {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  text-transform: uppercase; }

.button-ui__img {
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 1; }

.guest {
  position: relative;
  margin-top: 20px;
  display: flex;
  flex-direction: column; }

.input-guest__label {
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 5px; }

.input-guest[readonly], .search__input-guest[readonly] {
  padding-left: 10px;
  font-size: 14px;
  color: rgba(31, 32, 65, 0.75); }

.input-guest {
  height: 44px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px; }
  .input-guest::placeholder {
    padding: 10px;
    font-size: 14px;
    color: rgba(31, 32, 65, 0.75); }

.input__guest-arrow {
  position: absolute;
  top: 30px;
  right: 15px; }

.input-date__inner {
  display: flex;
  justify-content: space-between;
  margin-top: 20px; }

@media (max-width: 350px) {
  .input-date__inner {
    flex-direction: column; } }

.input-date__label {
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 5px; }

.input__inner {
  display: flex;
  flex-direction: column; }

.input__form {
  position: relative; }

.input__submit {
  position: absolute;
  top: 10px;
  right: 15px;
  bottom: 0;
  background-color: transparent;
  border: none; }

.input__date {
  width: 150px;
  height: 44px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px; }

@media (max-width: 350px) {
  .input__date {
    width: 100%; }
  .input-date__label_mobile {
    margin-top: 10px; } }

.input__date::placeholder {
  text-transform: uppercase;
  font-size: 14px;
  color: rgba(31, 32, 65, 0.75); }

.input__date[readonly], .search__input-date[readonly], .search__input-dropdown[readonly] {
  text-transform: lowercase;
  padding-left: 10px;
  font-size: 14px;
  color: rgba(31, 32, 65, 0.75); }

.landing {
  position: relative;
  height: 830px; }

@media (max-width: 1110px) {
  .landing {
    height: 640px; } }

@media (max-width: 768px) {
  .landing {
    height: 440px; } }

@media (max-width: 420px) {
  .landing {
    height: auto; } }

.landing__bg {
  position: absolute;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: ease-in-out 0.4s; }

@media (max-width: 420px) {
  .landing__bg {
    position: static;
    height: 240px;
    background-size: contain;
    margin: 0 auto; } }

.landing__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%; }

@media (max-width: 768px) {
  .landing__content {
    display: flex;
    flex-direction: column;
    justify-content: center; } }

.landing__form {
  margin-top: 70px;
  width: 380px;
  height: 374px;
  padding: 40px 30px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px; }

@media (max-width: 768px) {
  .landing__form {
    margin-top: 40px; } }

@media (max-width: 420px) {
  .landing__form {
    margin-top: 10px; } }

@media (max-width: 412px) {
  .landing .wrap {
    padding: 0; }
  .landing__form {
    margin-top: 10px;
    width: 100%;
    height: auto;
    padding: 20px; } }

.landing__form-title {
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  margin: 0; }

@media (max-width: 420px) {
  .landing__form-title {
    font-size: 18px; } }

.landing__text {
  justify-self: end;
  align-self: end;
  width: 300px;
  margin-bottom: 20px;
  font-size: 14px;
  text-align: right;
  color: rgba(31, 32, 65, 0.75);
  line-height: 24px; }

@media (max-width: 768px) {
  .landing__text {
    text-align: left;
    margin-top: 10px;
    width: 100%; } }

@media (max-width: 412px) {
  .landing__text {
    padding: 0 20px; } }

.flatpickr-calendar {
  width: 320px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  border-radius: 4px; }

.flatpickr-months {
  font-family: "Monserrat", sans-serif;
  font-weight: bold;
  padding: 20px 0 0; }

.flatpickr-current-month span.cur-month {
  font-weight: bold;
  font-size: 19px; }

.flatpickr-current-month input.cur-year {
  font-weight: bold; }

.flatpickr-months .flatpickr-month {
  height: 35px; }

.flatpickr-innerContainer {
  padding: 20px; }

.flatpickr-rContainer {
  width: 275px; }

span.flatpickr-weekday {
  font-size: 12px;
  color: #BC9CFF;
  font-weight: bold; }

.dayContainer {
  -webkit-justify-content: normal;
  justify-content: normal; }

.today {
  color: #ffffff;
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  border-radius: 22px;
  border: none; }

.flatpickr-day.selected.startRange, .flatpickr-day.startRange.startRange, .flatpickr-day.selected.startRange, .flatpickr-day.startRange.startRange {
  border: none;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 22px; }
  .flatpickr-day.selected.startRange::after, .flatpickr-day.startRange.startRange::after, .flatpickr-day.selected.startRange::after, .flatpickr-day.startRange.startRange::after {
    content: "";
    background: linear-gradient(180deg, rgba(187, 156, 255, 0.25), rgba(141, 164, 250, 0.25) 100%);
    position: absolute;
    right: 0;
    width: 25px;
    height: 39px;
    border: none;
    z-index: -1; }

.flatpickr-day.selected.endRange, .flatpickr-day.startRange.endRange, .flatpickr-day.endRange.endRange {
  border: none;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 22px; }
  .flatpickr-day.selected.endRange::after, .flatpickr-day.startRange.endRange::after, .flatpickr-day.endRange.endRange::after {
    content: "";
    background: linear-gradient(180deg, rgba(187, 156, 255, 0.25), rgba(141, 164, 250, 0.25) 100%);
    position: absolute;
    left: 0;
    width: 25px;
    height: 39px;
    border: none;
    z-index: -1; }

.flatpickr-day.selected.startRange.endRange::after, .flatpickr-day.startRange.startRange.endRange::after, .flatpickr-day.endRange.startRange.endRange::after {
  content: none; }

.flatpickr-day.inRange {
  background: linear-gradient(180deg, rgba(187, 156, 255, 0.25), rgba(141, 164, 250, 0.25) 100%);
  border: none;
  box-shadow: none; }

.flatpickr-day.selected.startRange + .endRange:not(:nth-child(7n+1)), .flatpickr-day.startRange.startRange + .endRange:not(:nth-child(7n+1)), .flatpickr-day.endRange.startRange + .endRange:not(:nth-child(7n+1)) {
  -webkit-box-shadow: none;
  box-shadow: none; }

.flatpickr-months .flatpickr-prev-month.flatpickr-prev-month {
  top: 15px;
  left: 15px; }

.flatpickr-months .flatpickr-next-month.flatpickr-next-month {
  top: 15px;
  right: 15px; }

.container-date-buttons {
  padding: 0 20px 20px;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer; }

.clearCalendar {
  color: rgba(31, 32, 65, 0.5); }

.use-select {
  color: #BC9CFF; }

.flatpickr-calendar.arrowTop:before, .flatpickr-calendar.arrowTop:after {
  bottom: 0; }

.dropdown {
  display: none;
  width: 100%;
  background: #ffffff;
  position: absolute;
  border: 1px solid gba(31, 32, 65, 0.5);
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  top: 100%;
  z-index: 10; }

.search__container-dropdown {
  width: 100%;
  background: #ffffff;
  position: absolute;
  border: 1px solid gba(31, 32, 65, 0.5);
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  top: 100%;
  z-index: 10; }

.blockAdults, .blockChildren, .blockBaby, .search__dropdown-item {
  margin: 20px 0;
  padding: 0 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.counterContainer, .search__dropdown-counter {
  display: flex; }

.textAdults, .textChildren, .textBaby, .search__dropdown-text {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: #1F2041; }

.counterNumber, .search__counter-text {
  padding: 5px 10px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center; }

.btnPlus, .btnMinus, .search__btn-minus, .search__btn-plus {
  background: transparent;
  border-radius: 50%;
  border: 1px solid rgba(31, 32, 65, 0.5);
  color: rgba(31, 32, 65, 0.5);
  font-size: 18px;
  padding: 0 7px;
  text-align: center; }

.sign__in {
  position: relative; }

.sign__bg {
  height: 753px;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: contain; }

@media (max-width: 1024px) {
  .sign__bg {
    height: 535px; } }

@media (max-width: 768px) {
  .sign__bg {
    height: 400px; } }

@media (max-width: 560px) {
  .sign__bg {
    height: 294px; } }

@media (max-width: 360px) {
  .sign__bg {
    height: 189px; } }

.sign-in__form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 380px;
  height: 358px;
  padding: 40px 30px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px; }

@media (max-width: 650px) {
  .sign-in__form {
    position: static;
    transform: none;
    margin: 0 auto; } }

@media (max-width: 380px) {
  .sign-in__form {
    width: 320px; } }

.sign__form-title {
  margin: 0;
  font-size: 24px;
  color: #1F2041; }

@media (max-width: 650px) {
  .sign__form-title {
    font-size: 19px;
    color: #1F2041; } }

.sign__input {
  margin-top: 20px;
  width: 100%;
  height: 44px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px; }
  .sign__input::placeholder {
    padding: 10px;
    font-size: 14px;
    color: rgba(31, 32, 65, 0.75); }

.sign__invite {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px; }

.sign__invite-question {
  font-size: 14px; }

@media (max-width: 380px) {
  .sign__invite-question {
    font-size: 12px; } }

.sign__up {
  position: relative;
  height: auto; }

.sign-up__form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 380px;
  height: 646px;
  padding: 40px 30px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px; }

@media (max-width: 1025px) {
  .sign-up__form {
    position: static;
    transform: none;
    margin: 0 auto; } }

@media (max-width: 380px) {
  .sign-up__form {
    width: 320px; } }

.sign__name, .sign__birth, .sign__entry-data, .sign__offer {
  margin-top: 20px; }

.sign-up__input-margin, .sign__gender {
  margin-top: 10px; }

.sign__gender {
  display: flex; }

.container {
  display: block;
  position: relative;
  margin-right: 20px;
  padding-left: 30px;
  cursor: pointer;
  font-size: 14px;
  color: rgba(31, 32, 65, 0.75);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer; }

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 10px; }

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background: #FFFFFF;
  border: 1px solid #BC9CFF;
  box-sizing: border-box;
  border-radius: 10px; }

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none; }

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block; }

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 3px;
  left: 3px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%); }

.sign-up__label span {
  display: block;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold; }

.sign-up__input {
  width: 100%;
  height: 44px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px; }
  .sign-up__input::placeholder {
    padding: 10px;
    font-size: 14px;
    color: rgba(31, 32, 65, 0.75); }

.sign__offer {
  display: flex; }

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px; }

.switch input {
  opacity: 0;
  width: 0;
  height: 0; }

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid rgba(31, 32, 65, 0.25);
  background-color: #FFFFFF;
  -webkit-transition: .4s;
  transition: .4s; }

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 3px;
  background: rgba(31, 32, 65, 0.25);
  -webkit-transition: .4s;
  transition: .4s; }

input:checked + .slider {
  background-color: #FFFFFF;
  border: 1px solid #BC9CFF; }

input:checked + .slider::before {
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%); }

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3; }

input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px); }

.slider.round {
  border-radius: 34px; }

.slider.round::before {
  border-radius: 34px; }

.sign__offer-text {
  margin-left: 10px;
  font-size: 14px;
  color: rgba(31, 32, 65, 0.75); }

.search {
  display: flex;
  justify-content: space-between; }

@media (max-width: 1123px) {
  .search {
    flex-direction: column; } }

.search__aside {
  width: 266px;
  flex: none;
  margin-right: 60px; }

@media (max-width: 1123px) {
  .search__aside {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 266px;
    width: auto;
    margin-right: 0; }
  .search__aside > div {
    width: 266px;
    margin-right: 10px; } }

.search__form {
  position: relative;
  margin-top: 20px; }

.search__form-inner {
  position: relative; }

.search__date {
  margin-top: 30px; }

.search__label {
  display: block;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 5px; }

.search__input {
  width: 100%;
  height: 44px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px; }

.search__input-img {
  position: absolute;
  top: 30px;
  right: 15px; }

.search__span, .search__checkbox, .search__addition {
  margin-top: 20px; }

.search__span-heading {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.search__span-price {
  font-size: 12px;
  color: rgba(31, 32, 65, 0.5); }

.search__span-line {
  margin: 20px 0 10px;
  width: 100%;
  height: 6px; }

.search__span-text {
  font-size: 12px;
  color: rgba(31, 32, 65, 0.5); }

.search__checkbox-item {
  margin-bottom: 10px; }

.search__checkbox-inner {
  margin-top: 15px; }

.search__input-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 0 0 0 20px; }

.search__label-checkbox {
  font-size: 14px;
  color: rgba(31, 32, 65, 0.5); }

.search__input-checkbox + .search__label-checkbox {
  position: relative;
  padding: 2px 0 0 30px;
  cursor: pointer; }

.search__input-checkbox + .search__label-checkbox::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  border: 1px solid rgba(31, 32, 65, 0.25); }

.search__input-checkbox:checked + .search__label-checkbox::before {
  content: url(img/checkmark.svg);
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #BC9CFF;
  text-align: center; }

.search__access-label {
  font-size: 14px;
  font-weight: bold;
  color: rgba(31, 32, 65, 0.75); }

.search__label-last {
  padding-left: 30px;
  font-weight: normal; }

.search__access-last {
  margin-top: 5px;
  color: rgba(31, 32, 65, 0.5); }

.search__addition-inner {
  display: flex;
  justify-content: space-between; }

.search__addition-arrow {
  position: relative;
  top: 5px;
  right: 15px; }

.search__slider {
  width: 100%; }

.search__slider-title {
  margin: 30px 0 20px;
  font-size: 24px;
  font-weight: bold;
  color: #1F2041; }

.search__slider-wrap {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-column-gap: 12px; }

.search__slider-container {
  width: 270px;
  margin-bottom: 20px; }

.search__cell {
  position: relative; }

.search__cell-pic {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px; }

.search__overlay {
  position: absolute;
  height: 156px;
  width: 100%;
  top: 0;
  opacity: 0;
  transition: 0.5s ease; }
  .search__overlay:hover {
    opacity: 1; }

.search__overlay-left {
  position: absolute;
  top: 50%;
  left: 20px; }

.search__overlay-right {
  position: absolute;
  top: 50%;
  right: 20px; }

.search__cell-inner {
  padding: 20px; }

.search__cell-desc {
  display: flex;
  justify-content: space-between; }

.search__price {
  color: rgba(31, 32, 65, 0.5); }

.search__number {
  font-size: 19px;
  font-weight: bold;
  color: #1F2041; }

.search__number-lux::after {
  content: ' люкс';
  display: inline;
  font-size: 12px;
  color: #BC9CFF;
  text-transform: uppercase; }

.search__number-size {
  font-size: 14px; }

.search__cell-line {
  width: 100%;
  margin: 10px 0 0;
  border: 0.5px solid rgba(31, 32, 65, 0.1); }

.search__rating {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.search__rating-review {
  color: rgba(31, 32, 65, 0.5); }

.search__cell-bold {
  font-size: 14px;
  font-weight: bold; }

.stars > span {
  font-size: 24px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #BC9CFF;
  background-clip: text; }

.gallery__dots {
  position: absolute;
  top: 128px;
  right: 15px; }

.dot {
  height: 8px;
  width: 8px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 50%;
  display: inline-block; }

.special {
  background-color: white; }

.search__pagin {
  width: 240px;
  margin: 0 auto;
  font-size: 12px;
  color: rgba(31, 32, 65, 0.5); }

.search__pagin-measure {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.search__pagin-item_first {
  color: #FFFFFF;
  padding: 10px 18px;
  border-radius: 50%;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%); }

.search__pagin-item_last {
  padding: 9px 11px;
  border-radius: 50%;
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%); }

.search__pagin-text {
  margin: 10px 0 0;
  text-align: center; }

.addition__container {
  margin-top: 20px;
  transition: ease-in-out 0.2s; }

.transformed {
  transform: rotate(180deg); }

.search__addition-arrow {
  transition: ease-in-out 0.2s; }

html:not([dir="rtl"]) .noUi-horizontal .noUi-handle {
  right: 0; }

.noUi-horizontal .noUi-handle {
  width: 12px;
  height: 12px; }

.noUi-handle:before, .noUi-handle:after {
  content: none; }

.noUi-handle {
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  border: 2px solid #FFFFFF;
  border-radius: 10px; }

.noUi-connect {
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  border-radius: 3px; }

.details__gallery {
  max-width: 1440px;
  display: grid;
  grid-template-areas: 'main-img secondary-img';
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  width: 100%; }

@media (max-width: 545px) {
  .details__gallery {
    max-width: 1440px;
    display: block;
    width: 100%; } }

.details__gallery-main {
  grid-area: main-img;
  width: 100%;
  height: 100%; }

.details__gallery-secondary {
  grid-area: secondary-img;
  width: 100%; }

.details__gallery-second {
  display: block;
  width: 100%; }

.details__gallery-third {
  width: 100%;
  display: block; }

@media (max-width: 545px) {
  .details__gallery-main {
    display: block; }
  .details__gallery-secondary {
    display: flex; }
  .details__gallery-second, .details__gallery-third {
    width: 50%;
    height: 50%; } }

.details__content {
  display: grid;
  grid-template-areas: 'main form';
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 70px;
  padding-top: 70px;
  padding-bottom: 70px; }

@media (max-width: 1256px) {
  .details__content {
    grid-template-areas: 'main' 'form';
    grid-gap: 40px;
    grid-template-columns: 1fr;
    margin: 0 auto; } }

.details__main {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'info emotion' 'review review' 'rule reset';
  grid-gap: 30px 70px; }

@media (max-width: 664px) {
  .details__main {
    grid-template-columns: 1fr;
    grid-template-areas: 'info' 'emotion' 'review' 'rule' 'reset';
    grid-gap: 30px 70px;
    justify-items: center; } }

.details__info {
  grid-area: info; }

.details__emotion {
  grid-area: emotion; }

.details__review {
  grid-area: review; }

.details__rule {
  grid-area: rule; }

@media (max-width: 664px) {
  .details__rule {
    justify-self: start; } }

.details__reset {
  grid-area: reset;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75); }

.details__form {
  grid-area: form;
  height: 511px;
  padding: 40px 30px 30px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.3);
  border-radius: 4px; }

@media (max-width: 1256px) {
  .details__form {
    width: 380px;
    margin: 0 auto; } }

@media (max-width: 420px) {
  .details__form {
    width: 100%;
    padding: 10px;
    margin: 0 auto;
    height: auto; } }

@media (max-width: 350px) {
  .details__form {
    padding: 10px;
    border: none; } }

.details__label-container {
  display: flex;
  justify-content: space-between; }

@media (max-width: 420px) {
  .details__label-container {
    flex-direction: column; } }

.details__label {
  margin-bottom: 20px;
  font-size: 19px;
  font-weight: bold;
  color: #1F2041; }

.details__label-desc {
  font-size: 14px;
  color: rgba(31, 32, 65, 0.5); }

.details__rule-item {
  margin-top: 10px;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75); }
  .details__rule-item::before {
    content: url(img/grey-circle.svg);
    padding-right: 10px; }

.details__info-item {
  display: flex; }

.details__info-icon {
  margin-right: 10px; }

.details__info-content {
  width: 230px; }

@media (max-width: 420px) {
  .details__info-content {
    width: auto; } }

.details__inner-label {
  margin-top: 5px;
  font-weight: bold;
  font-size: 14px;
  color: rgba(31, 32, 65, 0.75); }

.details__text {
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75); }

@media (max-width: 420px) {
  .details__text {
    font-size: 12px; } }

.details__line {
  margin: 20px 0;
  width: 100%;
  height: 2px;
  background: rgba(31, 32, 65, 0.2); }

.details__review-item {
  display: grid;
  grid-template-areas: 'pic content';
  grid-column-gap: 10px;
  justify-content: space-between;
  margin-top: 20px; }

.details__review-pic {
  grid-area: pic; }

.details__review-avatar {
  margin: 0 auto 12px;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  background-position-x: 49%;
  background-position-y: 28%;
  border: 2px solid #FFFFFF;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.1); }

.details__like {
  width: 40px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(31, 32, 65, 0.25);
  margin: 0 auto;
  border-radius: 10px;
  font-size: 10px;
  color: rgba(31, 32, 65, 0.25); }

.details__like_selected {
  border: solid 1px transparent;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(to bottom, #BB9CFF, #8DA4FA);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #fff inset;
  color: #BC9CFF; }

.details__counter {
  margin-left: 3px; }

.details__review-content {
  grid-area: content; }

.details__review-date {
  margin-bottom: 10px; }

.details__emotion-content {
  display: flex;
  justify-content: space-between; }

@media (max-width: 1340px) {
  .details__emotion-content {
    flex-direction: column;
    align-items: center; } }

.details__circle {
  position: relative;
  display: grid;
  grid-gap: 2px;
  grid-template-columns: 59px 59px;
  grid-template-areas: 'yellow violet' 'yellow green'; }

.details__circle-yellow {
  grid-area: yellow;
  display: block; }

.details__circle-violet {
  grid-area: violet;
  display: block; }

.details__circle-green {
  grid-area: green;
  display: block; }

.details__circle-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.details__circle-amount {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #BC9CFF; }

.details__circle-text {
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  color: #BC9CFF; }

.details__emotion-list {
  align-self: flex-end; }

@media (max-width: 1340px) {
  .details__emotion-list {
    align-self: center;
    margin-top: 20px; } }

.details__emotion-item {
  margin-top: 5px;
  font-size: 14px;
  color: rgba(31, 32, 65, 0.75); }

.details__emotion-item_orange::before {
  content: url(img/bullet-orange.svg);
  padding-right: 5px; }

.details__emotion-item_green::before {
  content: url(img/bullet-green.svg);
  padding-right: 5px; }

.details__emotion-item_violet::before {
  content: url(img/bullet-violet.svg);
  padding-right: 5px; }

.details__emotion-item_black::before {
  content: url(img/bullet-black.svg);
  padding-right: 5px; }

.details__form-val {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: rgba(31, 32, 65, 0.75); }

.details__form-collection {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: rgba(31, 32, 65, 0.75); }

.details__collection-text {
  width: 214px; }

@media (max-width: 420px) {
  .details__collection-text {
    width: auto; } }

.details__icon-circle {
  position: relative;
  width: 20px;
  height: 20px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 50%; }

.details__icon-char {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.details__icon-char2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.details__collection-summary {
  width: 37px;
  text-align: right; }

.details__form-total {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end; }

.details__total-text {
  font-size: 19px;
  font-weight: bold;
  color: #1F2041; }

.details__total-dots {
  position: relative;
  top: -5px;
  width: 182px;
  height: 1px;
  border-top: 1px dotted rgba(31, 32, 65, 0.25); }

@media (max-width: 350px) {
  .details__total-dots {
    width: 100%; } }

.details__total-amount {
  white-space: nowrap;
  width: 68px;
  font-size: 19px;
  font-weight: bold;
  color: #1F2041; }
