* {
    box-sizing: border-box;
}

@font-face {
    font-family: "Montserrat", sans-serif;
    src: url('/fonts/Montserrat-Regular.woff') format('woff');
}

@font-face {
    font-family: "Montserrat", sans-serif;
    src: url('/fonts/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
}

body {
    max-width: 1440px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;    
}

.wrap {
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: rgba(31, 32, 65, 0.5);
}

@import 'components/ui_kit/header/header';
@import 'components/ui_kit/footer/footer';
@import 'components/ui_kit/logo/logo';

@import 'components/ui_kit/button-in/button-in';
@import 'components/ui_kit/button-up/button-up';
@import 'components/ui_kit/button-ui/button-ui';

@import 'components/ui_kit/input-guest/input-guest';
@import 'components/ui_kit/input-date/input-date';

@import 'components/landing/landing';
@import 'components/sign_in/sign_in.scss';
@import 'components/sign_up/sign_up.scss';
@import 'components/search/search.scss';
@import 'components/details/details.scss';
