* {
    box-sizing: border-box;
}

@font-face {
    font-family: "Montserrat";
    src: url('/utils/Montserrat-Regular.woff') format('woff');
}

body {
    max-width: 1440px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    color: aqua;
}

.wrap {
    max-width: 1160px;
    margin: 0 auto;
}

h1 {
    color: red;
}


@import 'components/header/header.scss';