* {
    box-sizing: border-box;
}

@font-face {
    font-family: "Montserrat";
    src: url('/utils/Montserrat-Regular.woff') format('woff');
}

body {
    max-width: 1440px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;    
}

.wrap {
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: rgba(31, 32, 65, 0.5);
}

@import 'components/header/header';
@import 'components/logo/logo';
@import 'components/ui_kit/ui_kit.scss';
@import 'components/landing/landing';
@import 'components/footer/footer';
@import 'components/sign_in/sign_in.scss'